@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;700&display=swap');

.poke-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.load-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  text-align: center;

  color: white;
}

.poke-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4em 2em 0.5em 2em;

  border-radius: 1em;

  background-color: rgb(255, 255, 73);
}

.poke-card:hover {
  cursor: pointer;

  transition: all 0.09s ease;
  transform: scale(1.05);

  /* box-shadow: 0em 0.6em 0em rgb(255, 255, 155); */
}

.pc-image {
  width: 12em;
}

.pc-caption {
  font-size: 1.5rem;
  font-weight: 600;

  text-align: center;
  text-transform: capitalize;
}
